[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DYM"]
	path = DYM
	url = https://github.com/kos59125/dym
[submodule "naturalsort"]
	path = naturalsort
	url = https://github.com/kos59125/naturalsort
